.hero {
  height: 70vh;
  background: url(../images/hero/03_17_2019_homepage_still_small_v1.jpg);
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__video {
    display: none;
  }

  &__heading {
    font-family: $met-sans-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: white;
    text-align: center;
    text-shadow: 0 .1rem 0 rgba(0, 0, 0, .25);
    margin-bottom: 5rem;
    z-index: 1;

    @include media-queries('tablet') {
      font-size: 5rem;
      width: 55%;
    }

    @include media-queries('laptop') {
      font-size: 7rem;
      width: 45%;
    }

    @include media-queries('dekstop') {
      font-size: 6rem;
      width: 55%;
    }
  }

  @include media-queries('tablet') {
    background-image: url(../images/hero/03_17_2019_homepage_still_medium_hero_v1.jpg);
    background-position: 50% 85%;
  }

  @include media-queries('laptop') {
    background: transparent;

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
