.main-content {
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;

  @include media-queries('tablet') {
    width: 90vw;
  }

  @include media-queries('laptop') {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: auto;
    justify-content: center;
    max-width: 1224px;
  }

  @include media-queries('desktop') {
    max-width: 1440px;
  }

  &__card {
    width: 100%;
    margin: 0 auto;

    @include media-queries('laptop') {
      //width: ;
      display: flex;
      margin: 1rem auto;
      justify-content: center;

      &:nth-child(2) > div:nth-child(1) {
        order: 2;
      }

      &:nth-child(4) > div:nth-child(1) {
        order: 2;
      }
    }

    .img-container {
      background: rgba(147, 147, 147, 0.05);

      @include media-queries('laptop') {
        width: 50%;
      }

      img {

        @include responsive-img();
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgba(147, 147, 147, 0.05);
      padding: 4rem 6rem;
      text-align: center;

      @include media-queries('laptop') {
        width: 50%;
      }

      h4 {
        font-family: $met-sans-light, $default-font-stack;
        font-size: 2.5rem;
        font-weight: 400;

        @include media-queries('laptop') {
          font-size: 3.5rem;
        }

        @include media-queries('desktop') {
          font-size: 4rem;
        }
      }

      p {
        font-family: $met-sans-light, $default-font-stack;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 1.5rem auto;
      }

      a {
        font-family: $met-sans-medium, $default-font-stack;
        font-weight: 500;
        font-size: 1.5rem;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 2rem auto;

        &::after {
          content: '';
          display: block;
          width: 100%;
          height: auto;
          border-bottom: solid 1px black;
        }

        &:hover::after {
          animation: link-grow-bottom-border .5s 0s linear;
        }
      }
    }
  }
}

@keyframes link-grow-bottom-border {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
