.whats-on {
  margin: 3rem 0 5rem;

  &__title {
    font-family: $met-sans-semibold, $default-font-stack;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 2rem;
  }

  &__sub-title {
    font-family: $met-sans-light, $default-font-stack;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 2rem;
    display: none;

    @include media-queries('tablet') {
      display: block;
    }

    @include media-queries('laptop') {
      display: block;
    }
  }
}
