@mixin nav-link-text() {
  a {
    color: #ffffff;
    text-decoration: none;
    font-family: $met-sans-semibold, $base-fonts;

    &:hover {
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }

    &:active {
      text-decoration: none;
    }
  }
}

$tablet-width: 667px;
$desktop-width: 1028px;

@mixin media-queries ($size) {
  @if ('tablet' == $size) {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  @else if ('desktop' == $size) {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
}

